#contact{
    position: relative;
    width: var(--width);
    max-width: var(--max-width);
    margin: 100px auto;
    background-color: var(--color3);
    padding: 15px;
}
#contact h2{
    font-size: var(--font);
    width: 200px;
    position: relative;
    left: 42%;
    top: -30px;
    padding: 5px 10px;
    color: var(--color1);
    background-color: var(--color3);
    border: 2px solid var(--color1);
    box-shadow: var(--color2) -10px 10px;
}
.contact{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.contact_info > *{
    margin: 5px 0;
}
.contact_info .contact_log{
    width: 100%;
    justify-content: center;
}
.contact_info .contact_logo img{
    width: 150px;
    border: 2px solid var(--color2);
}
address{
    font-size: var(--font2);
    font-style: none;
    text-decoration: none;
}
address a{
    font-weight: 700;
    font-size: var(--font2);
    text-decoration: none;
    color: var(--color1);
    font-style: none;
}
.social_media{
    width: 100%;
}
.social_media ul{
    margin: 20px 0;
    list-style: none;
    display: flex;
}
.social_media li{
    margin-right: 10px;
}
.social_media li img{
    width: 25px;
}
.googlemap{
    width: 100%;
}
.googlemap iframe{
    width: 100%;
}
@media screen and (max-width:700px){
    #contact h2{
        left: 0;
    }
    .contact{
        grid-template-columns: 1fr;
    }
}