#product_range{
    width: var(--width);
    max-width: var(--max-width);
    margin: 100px auto;
    background-color: var(--color3);
    padding: 20px;
}
#product_range h2{
    font-size: var(--font);
    width: 280px;
    padding: 5px 10px;
    background-color: var(--color3);
    border: 2px solid black;
    box-shadow: var(--color2) -10px 10px;
    position: relative;
    top: -40px;
    left: 30%;
}
.products{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product{
    text-align: center;
    justify-content: center;
    flex: 1 0 13%;
    margin: 5px;
}
.product img{
    width: 70%;
    height: 70%;
}
.product h3{
    font-size: var(--font2);
    text-align: center;
}
@media screen and (max-width:700px){
    #product_range h2{
        left: 0;
    }
    .products{
        width: 100%;
    }
.product{
    margin: 0;
}
}